/* ==========================LANDING PAGE============================ */
.sidebar__mobile {
    position: absolute;
    width: 0px;
    right: -50%;
    height: 83%;
    top: 17.8%;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: width 0.5s ease-in-out;
    transition: right 0.5s ease-in-out;
}

.sidebar {
    height: 100vh;
    position: static;
    overflow-y: scroll;
    margin: 0;
}

.sidebar__head {
    width: 100%;
    height: 282px;
    background: #1D7BFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.sidebar__head img {
    width: 80%;
    height: 80%;
    object-fit: contain;

}

.sidebar__headIcon {
    display: none;
}

.sidebar__body {
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, 0.58);
    padding: 10px 0;
}

.sidebar__footer {
    background: rgba(217, 217, 217, 0.58);
    padding: 10px;
}

.sidebar__link {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 300;
    padding: 5px 0px;
    margin: 5px 0px;
    width: 200px;
    background-color: transparent;
    transition: background-color 0.50s ease-in-out;
}

.sidebar__link:hover {
    color: #fff;
    background-color: #1D7BFA;
    border-radius: 4px;
}

.copyright {
    color: #1D7BFA;
    font-family: Helvetica;
    font-size: 11px;
    font-weight: 500;
    margin: 10px 0;
}

.main__section {
    flex: 1;
    margin: 0;
}

/* ===================================HOME PAGE ====================================== */


.home {
    height: 100vh;
}

.home__container {
    background-image: url("../assets/landing.png");
    background-size: cover;
    height: 100%;
}

.home__header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 814px;
    margin: 100px 0px 100px 60px;
    align-self: flex-start;


}


.home__header {
    /* color: #FFF0F0; */
    color: rgba(255, 240, 240, 1);
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-weight: 700;

}

.homeHeader__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 502px;
}

.home__header-text {
    color: #FFF0F0;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 100;
    ;
    text-align: left;

}

.home__header-btn {
    border: 1.5px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    padding: 5px 13px;
    border-radius: 10px;
    background-color: transparent;
    font-family: Playfair Display;
    font-size: 15px;
    font-weight: 300;
    transition: border 0.40s ease-in-out;
    transition: color 0.40s ease-in-out;
}

.home__header-btn:hover {
    border: 1.5px solid #1D7BFA;
    color: #1D7BFA;
}


.home__main {
    margin: 0 80px;

}

.home__main-header {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    margin-left: 100px;
}

.home__sub-header {
    color: #0D0D0D;
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-weight: 400;
    padding-left: 30px;
}

.home__main-paragraph {
    color: #0D0D0D;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 500;
}

.quote__container {
    align-self: center;
}

.home__quote {
    padding: 20px 0;
    width: 100%;
    height: 200px;
    background-color: rgba(217, 217, 217, 0.37);
}

.home__quote-paragraph {
    width: 414px;
    text-align: center;

}

.quoted__by {
    color: #0D0D0D;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
}

.quoter__position {
    color: #1A1A1A;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 300;

}

.home__footer-text {
    align-self: flex-end;
    color: #FFF;
    font-family: Helvetica Neue;
    font-size: 9px;
    font-weight: 100;

    padding: 0 10px;
}

/* ====================== ABOUT PAGE ======================================== */


.about {
    height: 100vh;
    overflow-y: scroll;
    padding: 20px 10px;
}

.about__container {

    align-self: start;
}

.about__header {
    /* color: #FFF0F0; */
    max-width: 814px;
    margin-left: 60px;
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 35px;
    font-weight: 700;

}

.about__main-header {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 25px;
    font-weight: 700;
    margin-left: 100px;
}

.about__quote {
    padding: 20px 0;
    width: 100%;
    height: 200px;
    background-color: rgba(217, 217, 217, 0.37);
}

.about__quote-paragraph {
    width: 414px;
    text-align: center;

}
.quote__footerText,
.about__quote-paragraphMobile {
    display: none;

}
.quote__footerMobile{
   width: 0;
   height: 0;
}
.about__quoteMobile {
    padding:0px;
    width: 0%;
    height: 0px;
}
.about__sub-header {
    color: #0D0D0D;
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-weight: 400;
    padding-left: 30px;
}

.about__header-text {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
}

.about__header-btn {
    border: 1.5px solid #000;
    padding: 5px 13px;
    color: #000;
    font-family: Playfair Display;
    font-size: 13px;
    font-weight: 300;
    padding: 5px 13px;
    border-radius: 7px;
    transition: border 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
    margin: 20px 0;

}

.about__header-btn:hover {
    border: 1.5px solid #1D7BFA;
    color: #1D7BFA;

}

/* =============================SERVICES======================================================== */
.services {
    height: 100vh;
    overflow-y: scroll;
    padding-top: 150px;
}

.services__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.services__main-header {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 19px;
    font-weight: 700;
    margin-left: 100px;
}

.brickwork {
    background-image: url("../assets//brick.png");
    width: 400px;
    height: 257px;
    margin: 20px;
}

.block_work {
    background-image: url("../assets/wall.png");
    width: 400px;
    height: 257px;
    margin: 20px;
}

.stone__work {
    background-image: url("../assets/stone.png");
    width: 400px;
    height: 257px;
    margin: 20px;
}

.discussion {
    background: #1D7BFA;
    width: 400px;
    height: 257px;
    margin: 20px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.brick__textContainer {
    padding: 0 20px;
    width: 234px;
    height: 257px;
    flex-shrink: 0;
    background: rgba(29, 123, 250, 0.75);
}

.brick__header {
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
}

.brick__text {
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 300;

}

.brick__btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-family: Playfair Display;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    padding: 2px 4px;
    transition: border 0.51s ease-in-out;
}

.brick__btn:hover {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 3px 4px;
}

.discussion__btn {
    align-self: flex-end;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 3px 25px;
    color: #FFF;
    border-radius: 7px;
    font-family: Playfair Display;
    font-size: 15px;
    font-weight: 700;
}

/* =================================WORK WITH US============================================ */
.work {
    height: 100vh;
    overflow-y: scroll;
}

.work__with_us {
    /* background-color: rgba(29, 123, 250, 0.76); */
    background-image: url("../assets/building.png");
    background-size: cover;
    height: 850px;
}

.work__main {
    background-color: rgba(29, 123, 250, 0.76);
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.main__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;


}

.main__leftHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.main__headerOne {
    color: #FFFEFE;
    font-family: Plus Jakarta Sans;
    font-size: 30px;
    font-weight: 700;
}

.main__headerTwo {
    color: #FFFEFE;
    font-family: Plus Jakarta Sans;
    font-size: 27px;
    font-weight: 700;
    padding: 10px 0;
}

.main__leftParagraph {
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 200;
    align-self: flex-start;
}

.main__leftbtn {
    border-radius: 7px;
    border: 1.5px solid #FFF;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 16px;
    font-weight: 300;
    padding: 5px 15px;
    align-self: flex-start;
}

/* .main__right{
} */
.main__rightImage {
    height: 250px;
    max-width: 432px;
}

.main__rightImageMobile {
    height: 0px;
    width: 0px;
}

.main__rightImageMobile img {
    height: 0%;
    width: 0%;
    object-fit: contain;
}
.main__rightImage img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.work__clientsSection {
    background-color: rgba(217, 217, 217, 0.37);
}

.work__clientsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.work__clientText {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.work__client {
    width: 103px;
    height: 109px;
    margin: 20px;
    cursor: pointer;
}

.work__client img {
    width: 103px;
    height: 109px;
    object-fit: contain;
}

/* =================================CONTACT US ======================================================== */
.contact {
    height: 100vh;
    overflow-y: scroll;
    padding-top: 150px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__text {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form__label {
    font-family: Plus Jakarta Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.contact__header {
    padding-left: 25px;
}

.text__input {
    background: rgba(217, 217, 217, 0.4);
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;

}

.textarea__input {
    background: rgba(217, 217, 217, 0.4);
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;

}

.form__btn {
    outline: none;
    border: 1.5px solid rgba(0, 0, 0, 1);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 500;
    justify-self: center;
    border-radius: 7px;
    padding: 5px 15px;
    background-color: transparent;
    transition: background-color 0.50s ease-in-out;

}

.form__btn:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;

}

.contact__clientText {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 25px;
    font-weight: 700;
}

::placeholder {
    padding-left: 10px;
}

/* =================================================MEDIA QUERIES================================ */

@media screen and (max-width:570px) {
    .app {
        height: 100%;
    }

    /* .home{
height: 100%;
} */

    .home,
    .about,
    .contact {
        height: 82.5vh;
        overflow-y: scroll;

    }

    .landing {
        flex-direction: column;
        width: 100%;
    }

    /* ========================================SIDEBAR MEDIA QUERIES =============================== */
    .sidebar__mobileActive {
        width: 340px;
        right: 0%;
        height: 70%;
        top: 31.7%;
        z-index: 250;
        transition: width 0.5s ease-in-out;
        transition: right 0.5s ease-in-out;
        overflow-x: hidden;

    }

    .sidebar {
        width: 100%;
        height: 120px;
        overflow-y: hidden;
        background: #1D7BFA;
        /* border: 2px solid yellowgreen; */


    }

    .sidebar__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 20px;
        padding-right: 25px;
        height: 100%;
    }

    .sidebar__head img {
        width: 125px;

    }

    .sidebar__body {
        height: 0;
        opacity: 0;
    }

    .sidebar__mobileBody {
        width: 220px;
        height: 100%;
        background: rgba(217, 217, 217, 1);
        padding: 10px 0;
        border:1px solid rgba(217, 217, 217, 1);
    }

    .sidebar__link {
        text-decoration: none;
        text-align: center;
        color: #000;
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-weight: 500;
        padding: 5px 0px;
        margin: 5px 0px;
        width: 200px;
        background-color: transparent;
        transition: background-color 0.50s ease-in-out;
    }

    .sidebar__mobileFooter {
        padding: 10px 0px;
        width: 100%;
        background: rgba(217, 217, 217, 1);
        width: 220px;
        border:1px solid rgba(217, 217, 217, 1);

    }

    .copyright__mobile {
        font-size: 10px;
    }

    .sidebar__footer {
        display: none;
        height: 0;
        opacity: 0;
    }

    .sidebar__headIcon {
        display: flex;
    }

    /* ==================================ABOUT MEDIA QUERIES========================================== */
    .about__container {
        flex-direction: column-reverse;
        /* border: 2px solid yellowgreen; */
    }

    .about__main-header {
        display: none;
    }

    .about__quote {
        opacity: 0;
        display: none;
        height: 0;
    }

    .about__quote-paragraph {
        width: 100%;
        text-align: center;
    
    }

.quote__iconMobile{
    margin: 10px 0;
}
    .about__quote-paragraphMobile {
        width: 100%;
        text-align: center;
    
    }
    .about__quoteMobile {
        padding: 10px 15px;
        width: 100%;
        height: 100%;
        background-color: rgba(217, 217, 217, 0.37);
    }
    .quote__footerText,
    .about__quote-paragraphMobile {
        display: block;
    
    }       
    .about__sub-header {
        color: #0D0D0D;
        font-family: Plus Jakarta Sans;
        font-size: 25px;
        font-weight: 700;
        padding-left: 30px;
    }

    .about__header-btn {
        margin: 20px 0;
    }
    .quote__footerMobile{
        width: 100%;
        height: 100%;
     }

    /* ============================HOME MEDIA QUERIES ================================== */

    .home__header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 15px 10px;
        margin: 0;


    }

    .home__header {
        width: 100%;
        padding-left: 20px;
    }

    .homeHeader__textContainer {
        align-items: center;
        max-width: 100%;
    }

    .home__header-text {
        color: #FFF0F0;
        font-family: Plus Jakarta Sans;
        font-size: 17px;
        font-weight: 100;
        ;
        text-align: left;
        padding: 0 25px;

    }


    /* ======================================SERVICES MEDIA QUERIES================================= */
    .services {
        height: 100%;
        padding: 0;
        width: auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .services__main-header {
        color: #000;
        font-family: Plus Jakarta Sans;
        font-size: 25px;
        font-weight: 700;
        margin-left: 10px;
    }

    .services__container {
        justify-content: flex-start;
    }

    .brick__textContainer {
        padding: 0 20px;
        width: 200px;
        height: 200px;
        padding: 15px 10px;

    }

    .brickwork,
    .block_work,
    .stone__work {
        width: 100%;
        height: 100%;
        margin: 0px;
    }


    .discussion {
        padding: 4px 10px;
        width: 100%;
        height: 100%;
        margin: 0;


    }


    /* ==========================WORK WITH US MEDIA QUERIES======================== */
    .work {
        height: 100%;


    }


    .work__main {
        background-color: rgba(29, 123, 250, 0.76);
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        /* border: 2px solid yellowgreen; */
    }

    .work__with_us {
        /* background-color: rgba(29, 123, 250, 0.76); */
        height: 100%;
       

    }
    .main__leftHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .main__headerOne {
        color: #FFFEFE;
        font-family: Plus Jakarta Sans;
        font-size: 30px;
        font-weight: 700;
    }
    
    .main__headerTwo {
        color: #FFFEFE;
        font-family: Plus Jakarta Sans;
        font-size: 22px;
        font-weight: 700;
        width: 318px;
    }
    
   
    .main__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 15px 10px;
        height: 80%;

    }

    .main__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;


    }


    .main__leftParagraph {
        color: #FFF;
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-weight: 200;
        align-self: flex-start;
    }

    .main__leftbtn {
        border-radius: 7px;
        border: 1.5px solid #FFF;
        color: #FFF;
        font-family: Playfair Display;
        font-size: 19px;
        font-weight: 300;
        padding: 8px 20px;
        align-self: flex-start;
    }


    .main__rightImage {
        height: 0px;
        max-width: 0;
    }

    .main__rightImageMobile {
        height: 100%;
        width: 100%;
        margin: 15px 0;
    }

    .main__rightImageMobile img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

  

/* =================CONTACT MEDIA QUERIES ================================ */

    .contact {
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 50px;
    }

    /* .contact__header{
        border: 2px solid yellowgreen;
    } */
    .contact__main {
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
    }

    .contact__text {
        text-align: center;
    }

    .contact__socials {
        display: none;
    }

}