.app{
 height: 100vh;
 overflow-y: scroll;
  /* background-color: rgba(217, 217, 217, 0.37); */

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

